<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Personal Finance Chart</title>
    <script src="bower_components/papaparse/papaparse.js"></script>
    <script src="categories.js"></script>

    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <link href="bower_components/nvd3/build/nv.d3.css" rel="stylesheet" type="text/css"></link>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
  </head>
  <body ng-app="MyFinances" ng-controller="MyFinancesCtrl">
    <style>
        /* override nvd3's text style*/
        .nvd3 text {
            font-size: 12px;
            font-family: Roboto, "Helvetica Neue", sans-serif;
        }
        md-tabs {
          height: 100%;
        }
    </style>
    <div id="new-account-buttons">
      <md-button ng-click="showNewAccountDialog($event, 'bawagpsk')" class="md-raised md-primary" style="background-color:#990000">Add BawagPSK account</md-button>
      <md-button ng-click="showNewAccountDialog($event, 'hellobank')" class="md-raised md-primary" style="background-color:#0d80aa">Add hellobank account</md-button>
      <md-button ng-click="showNewAccountDialog($event, 'raiffeisen')" class="md-raised md-primary" style="background-color:#fbf315; color:#222222">Add Raiffeisen account</md-button>
    </div>

    <div id="charts" style="height:100%; display:none">

      <md-tabs class="md-primary">

        <md-tab label="Account balance">
          <md-tab-content id="chart-dailybalance-container">
          </md-tab-content>
        </md-tab>

        <md-tab label="Expenses">
          <md-tab-content id="chart-expenses-by-category-container">
          </md-tab-content>
        </md-tab>

      </md-tabs>
    </div>

    <script src="main.js"></script>
    <script src="visualization.js"></script>
    <script src="myfinances-angular.js"></script>

  </body>
</html>
