<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools" style="display:flex; justify-content:space-between"><h2>New Bawag PSK account</h2>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      Credentials for <strong>ebanking.bawagpsk.com</strong>:
      <div style="margin-top: 24px">
        <div>
          <md-input-container style="margin: 0px">
            <label>Login (Verfügernummer)</label>
            <input type="text" ng-model="login">
          </md-input-container>
        </div>
        <div>
          <md-input-container style="margin: 0px">
            <label>Password (PIN)</label>
            <input type="password" ng-model="password">
          </md-input-container>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="processOKClicked()" class="md-raised md-primary">OK</md-button>
  </md-dialog-actions>
</md-dialog>
