<style>
  .transaction-positive {
    color: #3d9400 !important;
  }
  .transaction-negative {
    color: #cc2914 !important;
  }
</style>

<div vs-repeat vs-scroll-parent="#transactions-table-container" style="overflow: auto">
  <div ng-repeat="transaction in transactions | orderBy: query.order" style="padding: 8px; display: flex; align-items: center">
    <div style="display:flex; flex-grow:2; align-items: center">
      <md-button aria-label="" class="md-icon-button" ng-click="$mdOpenMenu($event)" style="color: white; font-size: 24px; font-weight: normal; width: 42px; margin-right: 16px; flex-shrink: 0" ng-style="{'background-color' : categoriesByName[transaction.category].color}">
        {{transaction.category | limitTo: 1}}
      </md-button>
      <div style="display: flex; flex-grow: 1; flex-wrap: wrap">
        <div style="width: 120px; flex-grow: 1; font-size: 16px">{{transaction.category}}</div>
        <div style="width: 120px; flex-grow: 3; overflow: hidden; max-height: 1.2em; whitespace: nowrap; text-overflow: ellipsis">
          {{transaction.details}}
        </div>
      </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; flex-grow: 1; justify-content: flex-end">
      <div style="text-align: right; width: 96px; flex-grow: 1">{{transaction.date | date:'yyyy-MM-dd'}}</div>
      <div style="text-align: right; width: 96px; flex-grow: 1; font-size: 16px" ng-class="{'transaction-positive': transaction.amount>0, 'transaction-negative': transaction.amount<0}">{{transaction.amount | number: 2}}</div>
    </div>
  </div>
</div>
