<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools" style="display:flex; justify-content:space-between"><h2>New Bawag PSK account</h2>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">
      <div>
        <p><em>Tip: If you install the <a href="https://chrome.google.com/webstore/detail/kontobuch/bnfndlcglghmddgofmepmlleldeclmmh/">Chrome App</a> importing data from BAWAG PSK will be even easier.</em></p>
        <p>We will now import your financial data from BAWAG PSK.</p>
        <p>Please log in to your <a href="https://ebanking.bawagpsk.com" target="_blank">BAWAG PSK eBanking</a> account. Under <strong>Meine Finanzen</strong>, select <strong>Umsätze</strong>.</p>
      </div>
      <div>
        Enter your current account balance (Kontostand):<br>
        <md-input-container style="margin-bottom:0px">
          <label>Current Balance</label>
          <input type="number" ng-model="currentBalance"/>
        </md-input-container>
      </div>
      <div>
        <p>At the end of the <strong>Umsätze</strong> page, select <strong>download CSV</strong>.</p>
        <p>Save the CSV file to your device and upload it below:</p>
        <input type="file" id="file-input" style="margin-top:16px">
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="processOKClicked()" class="md-raised md-primary">OK</md-button>
  </md-dialog-actions>
</md-dialog>
